
.cart-container {
  background-color: #EBEDEF;
  padding: 10px 10px;
  min-height: 500px;
}

.cart-row {
  margin: 0px 30px 0px 30px;
}

.cart-item {
  padding: 10px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #D5D8DC;
}

.cart-item:hover {
  box-shadow: 2px 2px #AEB6BF;
}

.custom-shadow {
  box-shadow: 2px 2px #D5D8DC;
}

.summary {
  margin-top: 8px;
  margin-left: 8px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #D5D8DC;
}

.summary:hover {
  box-shadow: 2px 2px #AEB6BF;
}

.title {
  color: #707B7C;
}

.cart-item-title {
  color: #707B7C;
  margin: 5px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}


.delete-icon {
  color: #CD6155;
  cursor: pointer;  
}

.delete-icon:hover {
  color: #A93226;
}
