.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-card {
  /* box-shadow: 2px 2px #D5D8DC; */
  border: 2px solid #dadada;
  border-radius: 7px;
}

.pointer-cursor {
  cursor: pointer;
}

.item-card:hover {
  /* box-shadow: 4px 4px #5D6D7E; */
  box-shadow: 0 0 10px #5D6D7E;
}
