.navbar-container {
  /* margin-top: 20px; */
  margin-right: 30px;
  margin-left: 30px;
}


.form {
  /* align-items: center; */
  /* justify-content: center; */
  width: 70%;
  /* background-color: red; */
}


.cart {
  display: flex;
  /* flex: 1; */
  /* justify-content: space-around; */
  border-bottom-color: black;
  /* padding: 10px 100px 10px 100px; */
}

.button {
  background-color: purple;
  border: none;
}

.button:hover {
  background-color: green;
}

.custom-nav {
  height: 30px;
  font-size: 12px;
  background-color: #DFDFDF;
}

.custom-navbar {
  /* margin-top: 30px; */
  border-bottom: 1px solid #E7E7E7;  
}
