
.custom-navbar {
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFF;
  padding-right: 40px;
  padding-left: 40px;
  /* box-shadow: 1px 2px #E7E7E7; */

}


.form {
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  /* background-color: red; */
}


.button {
  background-color: purple;
  border: none;
}

.button:hover {
  background-color: green;
}

.icon-wrapper{
    position:relative;
    float:left;
}

.cartbadge{
    background: red;
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 6px;
    padding: 5px;
    color: white;
    font-size: 14px;
}

.cart-link {
  color: #17202A;
}

.cart-link:hover {
   color: #566573;
}
